# Секреты
.env

# Большие файлы и данные
video_data/
video_data.zip
video_db.json
HighLoadChannel.json
DevOops_conf.json

# Логи и экспорт
*.log
*.csv
*.ndjson

# Системное
__pycache__/
*.pyc
.DS_Store
