# 🔒 Секреты и конфигурация
.env

# 📦 Данные и результаты парсинга
archive/
video_data/
video_data.zip
video_db.json
HighLoadChannel.json
DevOops_conf.json

# 📤 Экспорт и промежуточные форматы
*.log
*.csv
*.ndjson

# ⚙️ Системные и кэш-файлы
__pycache__/
*.pyc
.DS_Store

# 🐍 Виртуальные окружения
venv/
.venv/
